<div class="uk-width-expand">
  <h2>Artist and nerd ...</h2>
  <p>...These are my two best sides. I also have a big pile of indie games, the ability to speak four and a half languages, a love for hiking and a soft spot for my big ugly double bass.</p>
  <p>I grew up in the Bavarian Forest and graduated in Augsburg and W체rzburg with a Master's degree in Information Design. Since 2013, I've been working for branding agencies in Vienna and Augsburg, where I've set up traps for small and big ideas and visualized engaging both analog and digital brand stories.</p>
  <p>I like the way the open source community works together, embracing diversity and sharing skills for a common goal. That's why I set out to become a full-stack-web developer. 
  <p>Today I effectively use my expertise in web development and illustration to make contents come alive.</p>
  <p>Have a glimpse <%= link_to "at my recent projects.", projects_path %></p>
</div><!-- end main-text -->
  
<div class="uk-width-1-3@m">
  <h2>A selection of <%= link_to "customers", projects_path %> </h2>
  <div id="client-list">
    <span>Thomas Cook Hotels and Resorts</span>
    <span>B채ckerei Wolf</span>
    <span>Azubiyo</span>
    <span>Oldenbourg Schulbuchverlag</span>
    <span>Jetzt Magazin (S체ddeutsche Zeitung)</span>                     
    <span>Sentido </span>
  </div>
  <div id="awards">
    <%= image_tag("DDC_WinnerBadget_DE4_Bronze-11.svg", id:"DDC-img") %>
    <small>Award in the Deutscher Designer Club DDC competition for the <%= link_to "B체roecco", "https://bueroecco.com/" %> <%= link_to "bird postcards", projects_path %> project</small>
  </div>
</div><!-- end skills -->